.row {
    flex-direction: row;
}

.cell {
    background-color: #ddd;
    font-color: black;
    border-right: 1px solid #888;
    border-bottom: 1px solid #666;
}

.cell-x {
    background-color: #40B;
    font-color: white;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #AAA;
}

.cell-o {
    background-color: #E64;
    font-color: white;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #AAA;
}

.game-state {
    height: 2em;
    background-color: #FFF;
}

* {
    font-family: monospace;
}
